doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/datatables.net-bs/css/dataTables.bootstrap.min.css')

  body

    block content

    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/datatables.net/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='/datatables.net-bs/js/dataTables.bootstrap.min.js')

    block js-init
    
