extends ../layouts/layout

block content
  div.page-header
    h1= title
  table.table.table-condensed#userTable
    thead
      tr
        th Name
        th Address
        td.col-xs-1
    tbody
      each user in list
        tr
          td 
            a(href='/contacts/#{user.id}')= user.name
          td= user.address
          td
            a.btn.btn-xs.btn-danger.btn-block(href='/contacts/delete/#{user.id}') Delete

  hr
  div(align='center')
    a.btn.btn-info(style="min-width:300px", href='/contacts/new') Create


block js-init
  script(type='text/javascript').
      $(document).ready(function() {
        $('#userTable').DataTable()
      })
