extends ../layouts/layout

block content
    div.page-header
        h1= title
    form(action='/contacts/save', method='post')
       input(class='hidden', name='id' value='#{contact.id}')
       div.form-group
            label(for='name') Name
            input.form-control#name(type='text', name='name', value=contact.name)
        div.form-group
            label(for='address') Address
            input.form-control#address(type='text', name='address', value=contact.address)
        div.form-group
            label(for='email') Email
            input.form-control#email(type='email', name='email', value=contact.email)
        div.form-group
            label(for='phoneNo') Phone Number
            input.form-control#phoneNo(type='text', name='phoneNo', value=contact.phoneNo)

        div(align='center')
            a.btn.btn-default(href='/contacts') Cancel
            button.btn.btn-info(type='submit') Save